APP_NAME=QRLatina
QRL_PROVIDER=https://qrlwallet.com/api/qrl-rpc/testnet
QRL_RPC_URL=https://qrlwallet.com/api/qrl-rpc/testnet
RPC_URL=http://127.0.0.1:8545

PRIVATE_KEY=
TESTNET_SEED=
TESTNET_HEXSEED=
QRL_HEXSEED=

ETH_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETH_PRIVATE_KEY=

TOKEN_NAME=QRLatina Token
TOKEN_SYMBOL=QRLAT
TOKEN_INITIAL_SUPPLY=1000000000000000000000000
PQD_TOKEN=

ZONDSWAP_ROUTER=
ZONDSWAP_FACTORY=
WZND=
USDT=

QUANTASWAP_QRL_HTLC=Q238322ad2e8f935b4481fcc379779c31b84decb0
QUANTASWAP_ETH_SEPOLIA_HTLC=0x910D5d4a7f2037c01F3B4C835167357e89909281

POOL_OWNER=
POOL_STAKING_TOKEN=Qa365cc5d87447b56e1f637bf4252e5859f9b8f4d
POOL_REWARD_TOKEN=Q5ba50be0ea713b0c0d4a73fe42903a1ae2f6a8ac
QRLAT_QETH_POOL=

QRLAT_WQRL=
QRLAT_FACTORY=
QRLAT_ROUTER=
QRLAT_QETH_PAIR=
QRLAT_WQRL_PAIR=

QRLAT_TOKEN=Qa365cc5d87447b56e1f637bf4252e5859f9b8f4d
QETH_TOKEN=Q5ba50be0ea713b0c0d4a73fe42903a1ae2f6a8ac
QZD_TOKEN=Q13792c1c7379709f9ad13d7121983e37f2b970aa
QRLAT_AMM_WQRL=
QRLAT_AMM_FACTORY=
QRLAT_AMM_ROUTER=
QRLAT_AMM_LENS=
DEPLOY_CONFIRM=
CREATE_PAIRS_CONFIRM=
SEED_QRLAT_FOR_QETH=1000000000000000000000
SEED_QETH_AMOUNT=1000000000000000000000
SEED_QRLAT_FOR_QRL=1000000000000000000000
SEED_QRL_AMOUNT=10000000000000000000
